version: 2.1
jobs:
  deploy:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "4d:94:eb:70:5b:e9:b0:f8:c0:f7:0c:81:9a:d5:00:3e"
      - run: ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "/var/www/Tamari-Ba/deploy.sh"
 
workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master