<p id="road-<%= @road.id %>">
  <% if road.liked_by?(current_user) %>
    <%# 「いいね！」済み %>
    <%= render "like", road: road %>
  <% else %>
    <%# 「いいね！」していない %>
    <%= render "dislike", road: road %>
  <% end %>
</p>

