<h1>投稿一覧</h1>
<%= link_to '新規投稿', new_road_path, class: 'btn' %>
<% @roads.each do |road| %>
  <p>
    <%= road.title %>
    <%= road.description %>
    <%= link_to "削除", road_path(road), method: :delete, data: {confirm: "削除しますか？"} %>
  </p>
<% end %>