/*
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "navbar";
@import "roads";
@import "users";
@import "homes";

body {
  font-family: "Noto Sans JP";
}

p {
  font-size: 16px;
}

.pagination {
  justify-content: center;
  color: #002550;
}

.page-link {
  color: #002550;
  border-color: #002550;
  &:hover {
    color: #002550;
    background-color: #FFED00;
    border:1px solid #002550;
  }
}

.page-item.active .page-link {
  background-color: #002550;
  color: #fff;
  border-color: #002550;
  
}
