/*
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "roads";

body {
  font-family: "Noto Sans JP";
}

.pagination {
  justify-content: center;
  color: #002550;
}
