:root {
  --text-color: #FFFFFF;
}


.title-text {
  color: var(--text-color);
}

.sub-text {
  color: var(--text-color);
}

.main-content {
  color: var(--text-color);
}

.overlap-order p {
  z-index: 1;
}

.warning-btn {
  width: 300px;
  height: 40px;
  color: #002550;
  background-color: #FFED00;
  border-color: #FFED00;
  &:hover {
    background: rgba(255, 237, 0, 0.1);
    color: #FFED00;
    border: 1.5px solid #FFED00;
  }
}

.page-section {
  background-color: #002550;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.flame {
  height: 800px;
}

.main-container {
  background-image: image-url('tamari_ba_top.png');
  height: 100%;
  width: 100%;
  background-size: cover;
}

.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.feature-image {
  width: 200px;
  height: 200px;
}

// PC
.card {
  width: calc((100% - 20px * 2) / 3);
  margin-right: 20px;
  margin-top: 20px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(1),&:nth-child(2),&:nth-child(3) {
    margin-top: 0;
  }

  // iPad
  @media only screen and (max-width:  768px) {
    width: calc((100% - 20px) / 2);
    &:nth-child(3n) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
  }

  // iPhone
  @media only screen and (max-width:  575px) {
    width: 280px;
    margin-right: 0;
    &:nth-child(3n) {
      margin-right: auto;
    }
    &:nth-child(2n) {
      margin-right: auto;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
    margin-right: auto;
    margin-left: auto;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 925px;
  margin: 0 auto;
  @media only screen and (max-width:  768px) {
    width: 100%;
  }
}

// カード

.card-title {
  text-decoration: none;
  color: #002550;
}

.card-body p {
  text-align: left;
}