// Place all the styles related to the roads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 共通

body {
  color: #002550;
}

.title-field {
  width: 500px;
  font-size: 12px;
  padding-left: 5px;
  font-size: 12px;
  padding-left: 5px;
}

.description-field {
  resize: none;
  width: 500px;
  height: 200px;
  font-size: 12px;
  padding-left: 5px;
}

.latlng-field {
  width: 150px;
  border: none;
  font-size: 12px;
  padding-left: 5px;
}

// index

// カード

.card-title {
  text-decoration: none;
  color: #002550;
}

.card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}
.card-body p {
  text-align: left;
}

.show-link {
  color: #002550;
}

.user-link {
  color:#002550;
}

.road-content {
  color: #333333;
}

.user-name {
  color: #333333;
}

.show-img-link {
  width: 100%;
  height: 180px;
}

.btn-outline-warning {
  color: #002550;
  border: none;
  background-color: #FFED00;
}


// 検索フォーム

input[type="search"] {
  width: 500px;
  height: 40px
}

.search-field {
  font-size: 12px;
  padding-left: 5px;
}


// show

#map {
  height: 300px;
  width: 300px;
}

a {
  color: #002550;
}

.comment-field {
  resize: none;
  width: 330px;
  height: 160px;
}

.comment-btn {
  margin-top: 10px;
  text-align: right;
}

// new

.area-search {
  width: 500px;
  height: 40px;
  font-size: 12px;
  padding-left: 5px;
}

.new-description {
  resize: none;
  width: 300px;
  height: 160px;
}

.submit-btn {
  width: 500px;
  height: 40px;
  color: #002550;
  border: 1.5px solid #002550;
  &:hover {
    background-color: #002550;
    color: #FFFFFF;
    border: none;
  }
}