// Place all the styles related to the roads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 共通

body {
  color: #002550;
}


.title-field {
  font-size: 12px;
  padding-left: 5px;
  font-size: 12px;
  padding-left: 5px;
}

.description-field {
  resize: none;
  width: 500px;
  height: 200px;
  font-size: 12px;
  padding-left: 5px;
}


.latlng-field {
  width: 150px;
  border: none;
  font-size: 12px;
  padding-left: 5px;
}

.map {
  height: 600px;
  width: 600px;
}

// index

// PC
.card {
  width: calc((100% - 20px * 2) / 3);
  margin-right: 20px;
  margin-top: 20px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(1),&:nth-child(2),&:nth-child(3) {
    margin-top: 0;
  }

  // iPad
  @media only screen and (max-width:  768px) {
    width: calc((100% - 20px) / 2);
    &:nth-child(3n) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
  }

  // iPhone
  @media only screen and (max-width:  575px) {
    width: 280px;
    margin-right: 0;
    &:nth-child(3n) {
      margin-right: auto;
    }
    &:nth-child(2n) {
      margin-right: auto;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
    margin-right: auto;
    margin-left: auto;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 925px;
  margin: 0 auto;
  @media only screen and (max-width:  768px) {
    width: 100%;
  }
}

// カード

.card-title {
  text-decoration: none;
  color: #002550;
}

// .card {
//   margin: 0 auto 60px;
//   max-width: 376px;
//   height: 370px;
// }

.card-body p {
  text-align: left;
}

.show-link {
  color: #002550;
}

.user-link {
  color:#002550;
}

.road-content {
  color: #333333;
}

.user-name {
  color: #333333;
}

.show-img-link {
  width: 100%;
  height: 180px;
}

.btn-outline-warning {
  color: #002550;
  border: none;
  background-color: #FFED00;
}


// 検索フォーム

dl.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #002550;
  border-radius: 6px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#002550;
  width:100%;
  height:34px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
  text-align:center;
  padding: 0 20px 0;
}

.search-btn:hover {
  color: #002550;
  background:#fff;
  border: 1.5px solid #002550;
}

// new

.area-search {
  width: 500px;
  height: 40px;
  font-size: 12px;
  padding-left: 5px;
}

.new-description {
  resize: none;
  width: 300px;
  height: 160px;
}

.submit-btn {
  width: 350px;
  position:relative;
  background-color:#002550;
  border-radius: 6px;
  color: #fff;
  border: none;
  &:hover {
    color: #002550;
    background-color: #fff;
    border:1px solid #002550;
  }
  @media only screen and (max-width:  360px) {
    width: 100%;
  }
}

@media only screen and (max-width:  640px) { 
  .map {
    width: 100%;
    height: 450px;
  }
}


// show

.show-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 48px 20px;
}

.map-wrapper {
  display: flex;
  @media only screen and (max-width:  575px) {
    display: block;
  }
}

.map-box {
  width: 50%;
  margin-right: 20px;
  @media only screen and (max-width:  575px) {
    width: 100%;
    margin-right: 0;
  }
}

.show-map {
  width: 100%;
  padding-top: 60%;
}

.content-box {
  @media only screen and (max-width:  575px) {
    margin-top: 20px;
  }
}

.road-images {
  display: flex;
  flex-wrap: wrap;
  .road-image-item {
    display: block;
    position: relative;
    width: calc((100% - 10px * 2) / 3);
    padding-top: 20%;
    margin-top: 10px;
    margin-right: 10px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2),&:nth-child(3) {
      margin-top: 0;
    }

    @media only screen and (max-width:  768px) {
      width: calc((100% - 10px) / 2);
      padding-top: 30%;
      &:nth-child(3n) {
        margin-right: 10px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(1),&:nth-child(2) {
        margin-top: 0;
      }
      &:nth-child(3) {
        margin-top: 10px;
      }
    }
  

    @media only screen and (max-width:  575px) {
      width: 100%;
      padding-top: 60%;
      margin-right: 0;
      &:nth-child(3n) {
        margin-right: auto;
      }
      &:nth-child(2n) {
        margin-right: auto;
      }
      &:nth-child(1),&:nth-child(2) {
        margin-top: 10px;
      }
      &:nth-child(3) {
        margin-top: 10px;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media only screen and (max-width:  575px) {
    display: block;
  }
}

.comment-wrapper {
  margin-top: 20px;
  display: flex;
  @media only screen and (max-width:  575px) {
    display: block;
  }
}

.comment-box {
  width: 50%;
  margin-right: 20px;
  @media only screen and (max-width:  575px) {
    width: 100%;
    margin-right: 0;
  }
}

.commentform-box {
  width: calc(50% - 20px);
  @media only screen and (max-width:  575px) {
    width: 100%;
  }
}

.comment-submit-btn {
  text-align: right;
  @media only screen and (max-width:  575px) {
    text-align: center;
  }
}

.comment-field {
  width: 100%;
  height: 240px;
  resize: none;
}
// .contents {
//   width: 100%;
//   max-width: 1200px;
//   margin: auto;
// }

// a {
//   color: #002550;
// }

// .comment-form {
//   width: 100%;
//   height: 160px;
// }

// .comment-field {
//   resize: none;
//   width: 330px;
//   height: 160px;
// }

// .comment-btn {
//   margin-top: 10px;
// }


// .show-container {
//   width: 100%;
//   max-width: 960px;
//   margin: 0 auto;
// }

// .show-container .show-map {
//   width: 100%;
//   height: 300px;
// }

// .text-center {
//   text-align: center;
// }

// .flexbox {
//   display: flex;
// }

// .map-box {
//   width: 50%;
//   padding-right: 50px;
// }

// .content-box {
//   width: 50%;
//   margin: none .5rem;
// }

// .comment-box {
//   width: 50%;
//   padding-right: 50px;
// }

// .commentform-box {
//   margin: 0 auto;
//   margin: none .5rem;
// }

// .show-content {
//   display: inline-block; 
//   vertical-align: top;
// }

// .to-index-btn {
//   margin-top: 50px;
// }

// @media screen and (max-width: 767px) {

//   .show-container {
//     width: 100px;
//     margin: 0 auto;
//     height: 100%;
//   }

//   .flexbox {
//     display: block;
//   }
//   .flexbox .map-box {
//     width: auto;
//     margin: 0 auto;
//   }
//   .flexbox .content-box {
//     width: auto;
//     margin: 0 auto;
//   }
//   .flexbox .comment-box {
//     width: auto;
//     margin: 0 auto;
//   }
//   .flexbox .commentform-box {
//     width: auto;
//     margin: 0 auto;
//   }

//   .show-map {
//     width: 100%;
//     height: 300px;
//   }

//   .comment-form {
//     width: 100%;
//     height: 160px;
//   }
// }