// Place all the styles related to the roads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-title {
  text-decoration: none;
  color: #002550;
}

.card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}
.card-body p {
  text-align: left;
}

.show-link {
  color: #002550;
}

.user-link {
  color:#002550;
}

.road-content {
  color: #333333;
}

.user-name {
  color: #333333;
}

.show-img-link {
  width: 100%;
  height: 180px;
}

.btn-outline-warning {
  color: #002550;
  border: none;
  background-color: #FFED00;
}