// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-container {
  border: 1.5px solid #002550;
  padding: 50px;
}

.index-container {
  border: none;
}

.execute-btn {
  width: 300px;
  height: 40px;
  color: #FFF;
  background-color: #002550;
  border: none;
  &:hover {
    background-color: #FFF;
    color: #002550;
    border: 1.5px solid #002550;
  }
}

.warning-btn {
  width: 300px;
  height: 40px;
  color: #002550;
  background-color: #FFED00;
  border: none;
  &:hover {
    background-color: #FFF;
    color: #002550;
    border: 1.5px solid #FFED00;
  }
  
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}

.forgot-link {
  font-size: 16px;
  border-bottom: 1px solid;
  color: #002550;
}

.signup-link {
  font-size: 16px;
  border-bottom: 1px solid;
  color: #002550;
}

.signin-link {
  font-size: 16px;
  border-bottom: 1px solid;
  color: #002550;
}

.user-card {
  width: calc((100% - 20px * 2) / 3);
  margin-right: 20px;
  margin-top: 20px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(1),&:nth-child(2),&:nth-child(3) {
    margin-top: 0;
  }

  // iPad
  @media only screen and (max-width:  768px) {
    width: calc((100% - 20px) / 2);
    &:nth-child(3n) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
  }

  // iPhone
  @media only screen and (max-width:  575px) {
    width: 280px;
    margin-right: 0;
    &:nth-child(3n) {
      margin-right: auto;
    }
    &:nth-child(2n) {
      margin-right: auto;
    }
    &:nth-child(1),&:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
    margin-right: auto;
    margin-left: auto;
  }
}

.user-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 925px;
  margin: 0 auto;
  @media only screen and (max-width:  768px) {
    width: 100%;
  }
}

.user-card-title {
  text-decoration: none;
  color: #002550;
}

.user-card-body p {
  text-align: left;
}

.user-show-img-link {
  width: 100%;
  height: 180px;
}

.user-show-btn {
  background-color: #002550;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  &:hover {
    background-color: #FFF;
    color: #002550;
    border: 1.5px solid #002550;
  }
}